<div id="nodeDetails">
<h1>{{airport}} Data</h1>
	<div id="nodeDetailsList">
		<p>
			<dl>
				 {{#each items}}
				<dt class="date">Date: {{DATE}}</dt>
					<dd class="remark">Remark: {{REMARKS}}</dd>
					<dd class="species">Species: {{SPECIES}}</dd>
				 {{/each}}
			</dl>
		</p>
	</div>
	<div id="mapDisplay">
		<button id="showMap">Show Airport Map</button>
		<button id="hideMap">Hide Airport Map</button>
		<script>

			$("#showMap").click(function () {

				$(".mapbox").show("slow");
			
			});

			$("#hideMap").click(function () {

				$(".mapbox").hide(1000)
			});
		
		</script>

		<div class="mapbox">
			<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q={{airport}}&amp;hl=en&amp;ie=UTF8&amp;hq={{airport}}&amp;t=h&amp;output=embed&amp;iwloc=&amp;z=11">
			</iframe>
			<br />
		</div>
	</div>
</div>